# Object files
*.o

# Executable files
a.out
patdown
test

# OS X files
.DS_Store
.CFUserTextEncoding

# Example Input/Output files.
*.md
!README.md
!TODO.md
!tests/parser/*.md

# valgrind files
*.dSYM

# spec file
*.html